<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\Projects\talgaen-mythos\build\debug\Engine.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>D:\Projects\talgaen-mythos\Engine\</StartWorkingDirectory>
  </propertyGroup>
</Project>